.react-color__swatch:hover {
  border-color: red; /* Highlight border on hover */
}

.react-color__swatches-picker {
  background-color: #f0f0f0; /* Change background */
  border-radius: 10px; /* Round corners */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
}
