.postcard-container {
  display: flex;
  width: 600px; /* Adjust as needed */
  height: 400px;
  background-size: cover; /* Ensures the image fills the div */
  background-position: center;
}

.background-0 {
  background-image: url("../../assets/Postcards/Postcard-7.png");
}

.background-1 {
  background-image: url("../../assets/Postcards/Postcard 1.png");
}

.background-2 {
  background-image: url("../../assets/Postcards/Postcard 2.png");
}

.background-3 {
  background-image: url("../../assets/Postcards/Postcard 3.png");
}

.background-4 {
  background-image: url("../../assets/Postcards/Postcard 4.png");
}

.background-5 {
  background-image: url("../../assets/Postcards/Postcard 5.png");
}

.background-6 {
  background-image: url("../../assets/Postcards/Postcard 6.png");
}

.right-message-container,
.left-message-container {
  flex: 0 1 50%; /* Prevents growth, allows shrinking, and sets initial width to 50% */
  overflow-wrap: break-word; /* Makes text wrap within the container */
  white-space: normal; /* Ensures text breaks normally */
  padding: 10px; /* Optional: add some padding for spacing */
}

.right-message-container {
  overflow: hidden; /* Hides any content that overflows */
  white-space: pre-line; /* Preserves line breaks in the text */
  padding: 30px;
  padding-left: 40px;
  padding-right: 48px;
  padding-bottom: 40px;
  display: flex; /* Allows control over content layout */
  flex-direction: column; /* Stacks the content vertically */
  justify-content: flex-start;
}

.left-message-container {
  overflow: hidden; /* Hides any content that overflows */
  display: flex;
}

.heart-container-left {
  display: flex;
}

.heart-container img {
  width: 20%; /* Or any specific size */
  height: auto; /* Maintains aspect ratio */
  padding: 10px;
}

.heart-container-left img {
  width: 20%; /* Or any specific size */
  height: auto; /* Maintains aspect ratio */
  padding: 10px;
  margin-left: auto;
}
