.header-container {
  display: flex;
  flex: 0.7;
  margin: auto;
  align-items: center;
}

.board-container {
  flex: 2.3;
  display: flex;
  margin: auto;
  align-items: center;
  margin-bottom: 40px;
}
