#root {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  height: 100%;
}

.input-container {
  display: flex;
  flex: 0.8;
  height: 100%;
  background-color: rgb(255, 242, 249);
  flex-direction: column;
  overflow-y: hidden;
}

.input-container:hover {
  overflow-y: auto; /* Show scrollbar on hover */
}

.input-container::-webkit-scrollbar {
  width: 2px; /* Adjust scrollbar width */
}

.input-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 0, 0, 0.5); /* Scrollbar thumb color */
  border-radius: 2px;
}

.output-container {
  display: flex;
  height: 100%;
  flex: 2.2;
  flex-direction: column;
}
